[submodule "Group11_p3/Code/perception/Depth_Anything_v2"]
	path = Group11_p3/Code/perception/Depth_Anything_v2
	url = https://github.com/DepthAnything/Depth-Anything-V2
[submodule "Group11_p3/Code/perception/DART"]
	path = Group11_p3/Code/perception/DART
	url = https://github.com/benjaminorr/DART
[submodule "Group11_p3/Code/perception/BoundingBox_3D"]
	path = Group11_p3/Code/perception/BoundingBox_3D
	url = https://github.com/PauAlcolea/BoundingBox_3D
[submodule "Group11_p3/Code/perception/PyMAF"]
	path = Group11_p3/Code/perception/PyMAF
	url = https://github.com/PauAlcolea/PyMAF
[submodule "Group11_p3/Code/perception/detectron2"]
	path = Group11_p3/Code/perception/detectron2
	url = git@github.com:facebookresearch/detectron2.git
[submodule "Group11_p3/Code/perception/Detic"]
	path = Group11_p3/Code/perception/Detic
	url = https://github.com/facebookresearch/Detic
[submodule "Group11_p3/Code/perception/Flow_Anything"]
	path = Group11_p3/Code/perception/Flow_Anything
	url = https://github.com/benjaminorr/Flow-Anything
