# Large data files and numerous images
Group11_p1/Phase2/Data/*
Group11_p2/Phase2/Data/*
Group11_p3/Data/*
Group11_p3/Outputs/*
Group11_p3/Outputs/Detections/
Group11_p4/Phase1/Data/*
Group11_p4/Phase1/Output/*.pdf
Group11_p4/Phase1/Output/traj_est.txt
Group11_p4/Phase2/Data/*
Group11_p4/Phase2/Output/Training/
Group11_p4/Phase2/Output/Testing/

# Figures for paper
Group11_p1/Phase1/Output/*

# Virtual environment
.venv/*
.vscode/*
.posevenv/*

#.DS_Store
**/.DS_Store

# log files
Group11_p1/Phase2/Code/logs
Group11_p1/Phase2/Code/checkpoints

Group11_p2/Phase2/Code/logs
Group11_p2/Phase2/Code/checkpoints

# Slurm output
*.out
*.err

# pycache
__pycache__/

# Model weights
Group11_p3/Weights/*